[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'],
textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #cacaca;
  margin: 0px;
  font-family: inherit;
  color: #585858;
  background-color: #fefefe;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  transition: border-color 0.25s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none; }
  [type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus,
  textarea:focus {
    background-color: #fefefe;
    outline: none;

    transition: border-color 0.25s ease-in-out; }



    .newsletter [type='text'], .newsletter [type='email'], .newsletter [type='number'], .newsletter [type='tel'],
    .newsletter textarea {
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: 2.4375rem;
        padding: 0.5rem;
        border: none;
        margin: 0px;
        font-family: inherit;
        font-size: 1rem;
        color: #656565;
        background-color: #faf2eb;
        box-shadow: none;
        border-radius: 45px;
        transition: border-color 0.25s ease-in-out;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-align: center;
}
.newsletter .button {
  width: 100%;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -o-border-radius: 50px;
    background: #ffcbcf;
    margin: 0px;
    color: white;
}

.newsletter .gform_heading {
  margin-bottom: 10px;
}
.newsletter ul.gform_fields li.gfield {
  margin-bottom: 7px;
}
textarea {
  max-width: 100%; }
  textarea[rows] {
    height: auto; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #cacaca; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #cacaca; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #cacaca; }

input::placeholder,
textarea::placeholder {
  color: #cacaca; }

input:disabled, input[readonly],
textarea:disabled,
textarea[readonly] {
  background-color: #e6e6e6;
  cursor: not-allowed; }

[type='submit'],
[type='button'] {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type='search'] {
  box-sizing: border-box; }

[type='file'],
[type='checkbox'],
[type='radio'] {
  margin: 0 0 1rem; }

[type='checkbox'] + label,
[type='radio'] + label {
  display: inline;
  margin-left: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0;
  vertical-align: baseline; }
  [type='checkbox'] + label[for],
  [type='radio'] + label[for] {
    cursor: pointer; }

label > [type='checkbox'],
label > [type='radio'] {
  margin-right: 0.5rem; }

[type='file'] {
  width: 100%; }

label {
  display: block;
  margin: 0;

  font-weight: normal;
  line-height: 1.8;
}
  label.middle {
    margin: 0 0 1rem;
    padding: 0.5625rem 0; }

.help-text {
  margin-top: -0.5rem;
  font-size: 0.8125rem;
  font-style: italic;
  color: #585858; }

.input-group {
  display: table;
  width: 100%;
  margin-bottom: 1rem; }
  .input-group > :first-child {
    border-radius: 0 0 0 0; }
  .input-group > :last-child > * {
    border-radius: 0 0 0 0; }

.input-group-label, .input-group-field, .input-group-button {
  margin: 0;
  white-space: nowrap;
  display: table-cell;
  vertical-align: middle; }

.input-group-label {
  text-align: center;
  padding: 0 1rem;
  background: #e6e6e6;
  color: #585858;
  border: 1px solid #cacaca;
  white-space: nowrap;
  width: 1%;
  height: 100%; }
  .input-group-label:first-child {
    border-right: 0; }
  .input-group-label:last-child {
    border-left: 0; }

.input-group-field {
  border-radius: 0;
  height: 2.5rem; }

.input-group-button {
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  height: 100%;
  width: 1%; }
  .input-group-button a,
  .input-group-button input,
  .input-group-button button {
    margin: 0; }

.input-group .input-group-button {
  display: table-cell; }

fieldset {
  border: 0;
  padding: 0;
  margin: 0; }

legend {
  margin-bottom: 0.5rem;
  max-width: 100%; }

.fieldset {
  border: 1px solid #cacaca;
  padding: 1.25rem;
  margin: 1.125rem 0; }
  .fieldset legend {
    background: #fefefe;
    padding: 0 0.1875rem;
    margin: 0;
    margin-left: -0.1875rem; }

select {
  padding: 0.5rem;
  border: 1px solid #cacaca;
  margin: 0 0 1rem;
  font-family: inherit;
  line-height: normal;
  color: #6a6a6a;
  background-color: #fefefe;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>");
  background-size: 9px 6px;
  background-position: right -1rem center;
  background-origin: content-box;
  background-repeat: no-repeat;
  padding-right: 1.5rem;
outline:0;}
  @media screen and (min-width: 0\0) {
    select {
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAYCAYAAACbU/80AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIpJREFUeNrEkckNgDAMBBfRkEt0ObRBBdsGXUDgmQfK4XhH2m8czQAAy27R3tsw4Qfe2x8uOO6oYLb6GlOor3GF+swURAOmUJ+RwtEJs9WvTGEYxBXqI1MQAZhCfUQKRzDMVj+TwrAIV6jvSUEkYAr1LSkcyTBb/V+KYfX7xAeusq3sLDtGH3kEGACPWIflNZfhRQAAAABJRU5ErkJggg=="); } }
  select:disabled {
    background-color: #e6e6e6;
    cursor: not-allowed; }
  select::-ms-expand {
    display: none; }
  select[multiple] {
    height: auto;
    background-image: none; }

.is-invalid-input:not(:focus) {
  background-color: rgba(236, 88, 64, 0.1);
  border-color: #ec5840; }

.is-invalid-label {
  color: #ec5840; }

.form-error {
  display: none;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: bold;
  color: #ec5840; }
  .form-error.is-visible {
    display: block; }


.gf_right_half {
	width: 49%;
	display: inline-block;
	margin-left: 1%!important;
}
.gf_left_half {
	width: 49%;
	display: inline-block;
	margin-right: 1%!important;
}
@media screen and (max-width: 39.9375em) {
.gf_right_half {
	width: 100%;
	display: block;
	margin-left: 0%!important;
}
.gf_left_half {
	width: 100%;
	display: block;
	margin-right: 0%!important;
}

}
.gfield_label {
  font-weight: $global-weight-bold;
}
.gform_wrapper .gfield_error .gfield_label {
  color: #b94a48; }

.gform_wrapper .gfield_error input, .gform_wrapper .gfield_error select, .gform_wrapper .gfield_error textarea {
  border-color: #eed3d7;
  background-color: #f2dede;
  color: #b94a48; }

.gform_wrapper .gfield_error input:focus, .gform_wrapper .gfield_error select:focus, .gform_wrapper .gfield_error textarea:focus {
  border-color: #b94a48;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(185, 74, 72, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(185, 74, 72, 0.6); }

.gform_wrapper ul {
	  margin: auto;
	  list-style: none;
	  text-align: left;

  }
ul.gform_fields li.gfield {
	    vertical-align: top;
    margin-bottom: 15px;
}
.validation_error {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
     }

.validation_error h4 {
  margin-top: 0;
  color: inherit; }

.validation_error .alert-link {
  font-weight: bold; }

.validation_error>p, .validation_error>ul {
  margin-bottom: 0; }

.validation_error>p+p {
  margin-top: 5px; }

.validation_error hr {
  border-top-color: #e6c1c7; }

.validation_error .alert-link {
  color: #953b39; }

#gforms_confirmation_message {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px; }

#gforms_confirmation_message h4 {
  margin-top: 0;
  color: inherit; }

#gforms_confirmation_message .alert-link {
  font-weight: bold; }

#gforms_confirmation_message>p, #gforms_confirmation_message>ul {
  margin-bottom: 0; }

#gforms_confirmation_message>p+p {
  margin-top: 5px; }

.gallery-row {
  padding: 15px 0; }

.aligncenter {
  display: block;
  margin: 0 auto; }

.alignleft {
  float: left; }

.alignright {
  float: right; }

figure.alignnone {
  margin-left: 0;
  margin-right: 0; }

ul.gfield_radio li {
	margin-bottom: 0px;
}

.gform_fileupload_multifile {
  text-align: center;
border: 4px dashed #cecece;
background: #f5f2f2;
margin: 20px 0px;
}
.gform_drop_area  {
  padding: 40px;
}

img.gform_delete {
  width: 14px;
    display: inline-block;
}
img.gform_delete:before {
  font-family: FontAwesome;
content: "\f2d4";
}

.gform_card_icon_container,
.gfield_creditcard_warning_message,
.ginput_card_security_code_icon {
  display: none;
}
.ginput_card_expiration_month {
  width: 48%;
float: left;
margin-right: 2%;
}
.ginput_card_expiration_year {
  width: 50%;
float: left;
}


.credit-card-form .gfield_label_before_complex {
  display: none;
}
.ginput_product_price_label {
  display: none;
}

.credit-card-form .gfield_description {
  font-size: 1rem;
}
.credit-card-form .gfield_required {
  display: none;
}

.gfield_description {
  margin-bottom: 10px;
}
.gfield_price .gfield_description {
  margin-bottom: 0px;
}


img.gform_ajax_spinner {
    position: fixed !important;
    z-index: 999999;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block !important;
    overflow: hidden  !important;
    width: 100% !important;
    height: 100% !important;
    background-color: rgb(0, 0, 0); /* fall back */
    background-color: rgba(0, 0, 0, 0.7);
    background-image: url('/wp-content/themes/docks/assets/images/util/Rolling.svg');  /* path to your new spinner */
    background-repeat: no-repeat;
    background-size: 60px 60px;
    background-position: center center;
}


.ginput_container_fileupload {
  text-align: center;
margin: 20px 0px;
}


.enquiry-options {
  ul {
    border-radius: $global-radius;
    -moz-border-radius: $global-radius;
    -webkit-border-radius: $global-radius;
    overflow: hidden;
    display: block;
    margin-top: 8px;
    background: $medium-gray;
    @include breakpoint(medium) {
      display: inline-block;
    }
  }
  li {
    display: block;
;
    margin-right: 1px;
    @include breakpoint(medium) {
      display: inline-block;
      width: auto;
    }
  }
  input {
    display: none;
    &+label {
    padding: 0.7rem;
    margin: 0;
    cursor: pointer;
    background: $light-gray;
    display: block;
    @include breakpoint(medium) {
      display: inline-block;
    }
    }
  }
  :checked+label {
    background: get-color(primary);
    color: white;
  }
}

.ginput_container_checkbox {
  ul {
    margin-top: 8px;
  }
  li {
  margin-bottom: 15px;
  @include breakpoint(medium) {
    margin-bottom: 0px;
  }
  input {
    margin:0;
  }
}
}
