.hero-panel {
  color: white;
  @include breakpoint (medium) {
    font-size: 11px;
  }
  font-size:12px;
  font-family: "Hind";
}

.hero-content-container {
  max-width: 500px;
  margin: auto;
  margin-top: 30px;
  margin-bottom:30px;
  @include breakpoint('large') {
    max-width: 100%;
  }
}
.header-nav {
  width: 100%;
  z-index: 2000;
  background-color: transparent;
}

.text-large {
  font-size: 30px;
}

.origin-box {
  padding: 1rem;
  color:white;
  position: relative;
  p {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.hero-stickers {
  img {
    @include breakpoint(medium) {
      width: 130px;
    }
    margin-left: -20px;
    width: 80px;
  }
  margin-left:20px;
}

.margin-xlarge {
  @include breakpoint(xlarge) {
    margin-top:30px!important;
  }
  margin-top:0!important;
}

.corner-sticker {
  position:absolute;
  bottom:25px;
  right:25px;
  @include breakpoint(large) {
    width: 130px;
  }
  width:100px;
}

.origin-logo {
  img {
    max-width: 230px;
  }
}

.header-nav .logo img {
  width: 110px;
  height: 47px;
  @include breakpoint('large') {
    width: 130px;
    height: 56px;
  }
}

.origin-banner {
  @include breakpoint(large) {
      padding: 4rem 2rem;
  }
  padding: 4rem 0rem;
  color: white;
}

label {
  font-family: $header-font-family;
}

.gfield_radio label {
    display: inline;
}

.menu a, .menu .button {
    font-family: 'Hind';
    color: white;
}

.gform_wrapper {
  font-family: $header-font-family;
  h3,h4,h5,h6 {
    font-weight: $global-weight-bold;
    font-size: 1.3rem;
  }
}

.thumb-img {
  padding: 3px;
}

.superTitle {
  font-size: 73px;
  color: get-color(primary);
  @include breakpoint(small) {
    font-size: 55px;
    color: get-color(primary);
  }
}

.padded-box {
  padding: 8rem 2rem 8rem 0rem;
}

.padded-banner {
  padding: 0;
  @include breakpoint(medium) {
    padding: 3rem;
  }
  @include breakpoint(large) {
    padding: 2rem;
  }
}

.padded-banner-right {
  padding: 2rem;
  @include breakpoint(medium) {
    padding: 3rem;
  }
  @include breakpoint(large) {
    padding: 6rem 1rem 6rem 4rem;
  }
}

.padded-banner-left {
  padding: 2rem;
  @include breakpoint(medium) {
    padding: 3rem;
  }
  @include breakpoint(large) {
    padding: 6rem 2rem 6rem 4rem;
  }
}




.range-box {
  display: block;
  text-decoration: none;
  margin-bottom: 0px;
  padding-bottom: 2rem;
  &:hover {
    background: #ececec;
    cursor: pointer;
  }
}


.fa-check {
  margin-left: 0px;
  @include breakpoint (large) {
    margin-left: 1.25rem;
  }
  li {
  font-family: "Hind";
  font-weight: normal;
	margin: 0;
	padding: 8px 0 8px 40px;
	list-style: none;
	background-image: url("../images/fa/tick.svg");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 15px;
}
}
.small-menu-text {
  font-size: 14px;
  font-family: 'Hind'
}

.range-title {
  margin-top: -2rem;
  padding-bottom: 0.5rem;
  font-size: 20px;
}

.padded-list {
  padding: 0rem 2.6rem 0rem 2.6rem;
  list-style-type: none;
  p {
    margin-bottom: 2px;
  }
}

.padded-content {
  padding-right:2.7rem;
}

.large-no-bold {
  font-size: 20px;
}

.padded-content-box {
  padding: 2.5rem;
}

.featureTitle {
  color: #8D8D8D;
  font-size: 18px;
  font-family: 'Hind-SemiBold';
}

.left-hand-filter {
  	position: absolute;
  	top:0px;
    right: 0px;
  	width: 1000px;
  	height: 100%;
  	&.filter-black {
  		background-color: rgba(0,0,0,0.8);
  	}
    &.filter-primary {
      background-color: rgba(get-color(primary),0.65);
    }
  	&.filter-white {
  		background-color: rgba(255,255,255,0.8);
  	}
  	&.filter-secondary {
  		background-color: rgba(get-color(secondary),0.8);
  	}
  	&.filter-warning {
  		background-color: rgba(get-color(warning),0.8);
  	}
  	&.filter-alert {
  		background-color: rgba(get-color(alert),0.8);
  	}
}

.origin-header-banner {
  font-size: 13px!important;
  font-family: 'Hind';
  font-weight: bold;
}

.inactiveLink {
   pointer-events: none;
   cursor: default;
}

.spitfire-hero {
  background-repeat: no-repeat;
  background-size: cover!important;
  -moz-background-size: cover!important;
  -webkit-background-size: cover!important;
  -o-background-size: cover!important;
  overflow: hidden;
  background-position: right;
  @include breakpoint(large) {
    background-position: center;
  }
}

.padding-form {
  padding: 0.5rem;
}

$hamburger-layer-color: #ffffff;


.spitfire-sale-banner {
  position: relative;
  top:0px;
  @include breakpoint(large) {
    position: absolute;
    top:-80px;
    right:0px;
  }
}
