ul.checklist {
  list-style: none;
}
ul.checklist li:before {
  content: '';
  display: inline-block;
  height: 0.95rem;
  width: 0.95rem;
  background-image: url('../images/util/Tick.svg');
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 1.2rem;
  position: absolute;
  top: 5px;
  left: -15px;
}
ul.checklist li {
  position: relative;
  padding-left: 0.7rem;
}

ol.numbered-large {
  list-style: none;
  counter-reset: item;
  margin-left: 3rem;
  li {
    position: relative;
    counter-increment: item;
    margin-bottom: 1rem;
    b {
      font-size: 1.2rem;
      display: inline-block;
    }
    &:before {
        content: counter(item);
        color: white;
        text-align: center;
        border-radius: 50%;
        display: inline-block;
        height: 2.5rem;
        width: 2.5rem;
        background-color: $primary-color;
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: -3rem;
        position: absolute;
        font-weight: $global-weight-bold;
        padding-top: 6px;

    }
  }
}


.color-white,
.color-white a,
.color-white a:hover,
.color-white a:active {
  color: white;
}

.color-primary,
.color-primary a,
.color-primary a:hover,
.color-primary a:active {
  color: get-color(primary);
}

.color-secondary,
.color-secondary a,
.color-secondary a:hover,
.color-secondary a:active {
  color: get-color(secondary);
}

.color-warning,
.color-warning a,
.color-warning a:hover,
.color-warning a:active {
  color: get-color(warning);
}

.color-success,
.color-success a,
.color-success a:hover,
.color-success a:active {
  color: get-color(success);
}

.color-alert,
.color-alert a,
.color-alert a:hover,
.color-alert a:active {
  color: get-color(alert);
}

.color-light-grey,
.color-light-grey a,
.color-light-grey a:hover,
.color-light-grey a:active {
  color: get-color(light-grey);
}

.color-medium-grey,
.color-medium-grey a,
.color-medium-grey a:hover,
.color-medium-grey a:active {
  color: get-color(medium-grey);
}



.text-small {
  font-size: $small-font-size;
}
