
.panel-image {
    background-repeat: no-repeat;
    background-size: cover!important;
    -moz-background-size: cover!important;
    -webkit-background-size: cover!important;
    -o-background-size: cover!important;
    background-position: 50%;
    overflow: hidden;
    background-position: center;
}

.bg-primary {
	background-color: get-color(primary);
}
.bg-secondary {
	background-color: get-color(secondary);
}
.bg-success {
	background-color: get-color(success);
}
.bg-warning {
	background-color: get-color(warning);
}
.bg-alert {
	background-color: get-color(alert);
}
.bg-light-grey {
	background-color: get-color(light-grey);
}
.bg-medium-grey {
	background-color: get-color(medium-grey);
}
.bg-dark-grey {
	background-color: get-color(dark-grey);
}

.filter {
	position: absolute;
	top:0px;
	left:0px;
	width: 100%;
	height: 100%;
	&.filter-black {
		background-color: rgba(0,0,0,0.8);
	}
	&.filter-white {
		background-color: rgba(255,255,255,0.8);
	}
	&.filter-primary {
		background-color: rgba(get-color(primary),0.8);
	}
	&.filter-secondary {
		background-color: rgba(get-color(secondary),0.8);
	}
	&.filter-warning {
		background-color: rgba(get-color(warning),0.8);
	}
	&.filter-alert {
		background-color: rgba(get-color(alert),0.8);
	}
}


.radius {
  @include border-radius;
}

.shadow {
  @include box-shadow;
}

.relative {
  position: relative;
}

.clear {
	clear:both!important;
}

/* Margins */

.mt0 {
	margin-top: 0px!important;
}
.mt10 {
	margin-top: 10px!important;
}
.mt20 {
	margin-top: 20px!important;
}
.mt30 {
	margin-top: 30px!important;
}
.mt40 {
	margin-top: 40px!important;
}
.mt50 {
	margin-top: 50px!important;
}
.mt60 {
	margin-top: 60px!important;
}
.mt70 {
	margin-top: 70px!important;
}
.mt80 {
	margin-top: 80px!important;
}
.mt90 {
	margin-top: 90px!important;
}
.mt100 {
	margin-top: 100px!important;
}
.mt110 {
	margin-top: 110px!important;
}
.mt120 {
	margin-top: 120px!important;
}
.mt130 {
	margin-top: 130px!important;
}
.mt140 {
	margin-top: 140px!important;
}
.mt150 {
	margin-top: 150px!important;
}
.mt160 {
	margin-top: 160px!important;
}
.mt170 {
	margin-top: 170px!important;
}
.mt180 {
	margin-top: 180px!important;
}
.mt190 {
	margin-top: 190px!important;
}
.mt200 {
	margin-top: 200px!important;
}
.mt210 {
	margin-top: 210px!important;
}
.mt220 {
	margin-top: 220px!important;
}
.mt230 {
	margin-top: 230px!important;
}
.mt240 {
	margin-top: 240px!important;
}
.mt250 {
	margin-top: 250px!important;
}



.mb0 {
	margin-bottom: 0px!important;
}
.mb5 {
	margin-bottom: 5px!important;
}
.mb10 {
	margin-bottom: 10px!important;
}
.mb20 {
	margin-bottom: 20px!important;
}
.mb30 {
	margin-bottom: 30px!important;
}
.mb40 {
	margin-bottom: 40px!important;
}
.mb50 {
	margin-bottom: 50px!important;
}
.mb60 {
	margin-bottom: 60px!important;
}
.mb70 {
	margin-bottom: 70px!important;
}
.mb80 {
	margin-bottom: 80px!important;
}
.mb90 {
	margin-bottom: 90px!important;
}
.mb100 {
	margin-bottom: 100px!important;
}
.mb110 {
	margin-bottom: 110px!important;
}
.mb120 {
	margin-bottom: 120px!important;
}
.mb130 {
	margin-bottom: 130px!important;
}
.mb140 {
	margin-bottom: 140px!important;
}
.mb150 {
	margin-bottom: 150px!important;
}
.mb160 {
	margin-bottom: 160px!important;
}
.mb170 {
	margin-bottom: 170px!important;
}
.mb180 {
	margin-bottom: 180px!important;
}
.mb190 {
	margin-bottom: 190px!important;
}
.mb200 {
	margin-bottom: 200px!important;
}
.mb210 {
	margin-bottom: 210px!important;
}
.mb220 {
	margin-bottom: 220px!important;
}
.mb230 {
	margin-bottom: 230px!important;
}
.mb240 {
	margin-bottom: 240px!important;
}
.mb250 {
	margin-bottom: 250px!important;
}


.p0 {
	padding: 0px!important;
}
.pt10 {
	padding-top: 10px!important;
}
.pt20 {
	padding-top: 20px!important;
}
.pt30 {
	padding-top: 30px!important;
}
.pt40 {
	padding-top: 40px!important;
}
.pt50 {
	padding-top: 50px!important;
}
.pt60 {
	padding-top: 60px!important;
}
.pt70 {
	padding-top: 70px!important;
}
.pt80 {
	padding-top: 80px!important;
}
.pt90 {
	padding-top: 90px!important;
}
.pt100 {
	padding-top: 100px!important;
}
.pt120 {
	padding-top: 120px!important;
}
.pt130 {
	padding-top: 130px!important;
}
.pt140 {
	padding-top: 140px!important;
}
.pt150 {
	padding-top: 150px!important;
}
.pt160 {
	padding-top: 160px!important;
}
.pt170 {
	padding-top: 170px!important;
}
.pt180 {
	padding-top: 180px!important;
}
.pt190 {
	padding-top: 190px!important;
}
.pt200 {
	padding-top: 200px!important;
}
.pt210 {
	padding-top: 210px!important;
}
.pt220 {
	padding-top: 220px!important;
}
.pt230 {
	padding-top: 230px!important;
}
.pt240 {
	padding-top: 240px!important;
}
.pt250 {
	padding-top: 250px!important;
}


.pb10 {
	padding-bottom: 10px!important;
}
.pb20 {
	padding-bottom: 20px!important;
}
.pb30 {
	padding-bottom: 30px!important;
}
.pb40 {
	padding-bottom: 40px!important;
}
.pb50 {
	padding-bottom: 50px!important;
}
.pb60 {
	padding-bottom: 60px!important;
}
.pb70 {
	padding-bottom: 70px!important;
}
.pb80 {
	padding-bottom: 80px!important;
}
.pb90 {
	padding-bottom: 90px!important;
}
.pb100 {
	padding-bottom: 100px!important;
}
.pb110 {
	padding-bottom: 110px!important;
}
.pb120 {
	padding-bottom: 120px!important;
}
.pb130 {
	padding-bottom: 130px!important;
}
.pb140 {
	padding-bottom: 140px!important;
}
.pb150 {
	padding-bottom: 150px!important;
}
.pb160 {
	padding-bottom: 160px!important;
}
.pb170 {
	padding-bottom: 170px!important;
}
.pb180 {
	padding-bottom: 180px!important;
}
.pb190 {
	padding-bottom: 190px!important;
}
.pb200 {
	padding-bottom: 200px!important;
}
.pb210 {
	padding-bottom: 210px!important;
}
.pb220 {
	padding-bottom: 220px!important;
}
.pb230 {
	padding-bottom: 230px!important;
}
.pb240 {
	padding-bottom: 240px!important;
}
.pb250 {
	padding-bottom: 250px!important;
}


.mw300 {
	max-width: 300px!important;
	margin: auto;
}
.mw400 {
	max-width: 400px!important;
	margin: auto;
}
.mw500 {
	max-width: 500px!important;
	margin: auto;
}
.mw600 {
	max-width: 600px!important;
	margin: auto;
}
.mw700 {
	max-width: 700px!important;
	margin: auto;
}
.mw800 {
	max-width: 800px!important;
	margin: auto;
}
.mw900 {
	max-width: 900px!important;
	margin: auto;
}
.mw1000 {
	max-width: 1000px!important;
	margin: auto;
}
.mw1100 {
	max-width: 1100px!important;
	margin: auto;
}
.mw1200 {
	max-width: 1200px!important;
	margin: auto;
}
.mw1300 {
	max-width: 1300px!important;
	margin: auto;
}
.mw1400 {
	max-width: 1400px!important;
	margin: auto;
}
.mw1500 {
	max-width: 1500px!important;
	margin: auto;
}
.mw1600 {
	max-width: 1600px!important;
	margin: auto;
}
.mw1700 {
	max-width: 1700px!important;
	margin: auto;
}
.mw1800 {
	max-width: 1800px!important;
	margin: auto;
}
.mw1900 {
	max-width: 1900px!important;
	margin: auto;
}
.mw2000 {
	max-width: 2000px!important;
	margin: auto;
}
